<!DOCTYPE html>
<html ng-app="MyApp">
<head>
	<title>Get IP</title>


  <link rel='stylesheet prefetch' href='https://gitcdn.xyz/repo/angular/bower-material/v0.10.1-rc4/angular-material.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">


</head>
<body ng-controller="rip">

<table class="table table-striped table-hover oculto">
	<tr>
		<th>#</th>
		<th>IP</th>
		<th>Fecha</th>
		<th>Ciudad</th>
		<th>Region</th>
		<th>Pais</th>
		<th>Org.</th>
	</tr>
	<tr ng-repeat="(key, value) in accesos | orderBy: '-'">
		<td>{{key+1}}</td>
		<td>{{value.ip}}</td>
		<td title="{{value.fecha | date:longDate}}">{{value.fecha | timeago}}</td>
		<td>{{value.city}}</td>
		<td>{{value.regionName}}</td>
		<td>{{value.country}}</td>
		<td>{{value.org}}</td>
	</tr>
</table>

<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js'></script>

<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-messages.min.js'></script>
<script src='https://gitcdn.xyz/repo/angular/bower-material/v0.10.1-rc4/angular-material.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js'></script>

<script type="text/javascript" src="bower_components/firebase/firebase.js"></script>
<script type="text/javascript" src="bower_components/angularfire/dist/angularfire.min.js"></script>

<script src="js/ui-bootstrap-tpls-2.0.0.min.js"></script>
 <script src="js/index.js"></script>
</body>
</html>