
    <div class="gridListdemoBasicUsage">

  <h1>Cursos de Ojala</h1> 
<div style="padding:20px 0px 60px 0px">
      <!-- <span class="col-md-1" style="font-weight:bold">
      Search
      </span> -->
      
          <form ng-submit="buscar()">
          <span class="col-md-5">
            <input type="text" class="form-control" ng-model="busqueda.title" placeholder="Buscar cursos" />
          </span>
          <span class="col-md-2">
              <input type='submit' value="Buscar" class="btn btn-primary" />
          </span>
          </form>
      
</div>
<br/>
<div  id="resultados">
<div class='md-padding' layout="row" layout-wrap ng-show="loadingVisible">
  <center><img src="http://i.imgur.com/5wNar1t.gif"/></center>
</div>
<div class='md-padding' layout="row" layout-wrap ng-show="!loadingVisible">
  Mostrando {{filtrados.length}} cursos
</div>
<div class='md-padding' layout="row" layout-wrap ng-show="!loadingVisible" >
  <md-card style="width: 300px;" ng-repeat="(cu,curso) in cursos | orderBy:['category','-level','title'] | filter: filtro as filtrados" mb-repeat-ini="loading('ini')" mb-repeat-fin="loading('fin')">
    <img src="http://oja.la{{curso.img}}" width="150" class="md-card-image" alt="user avatar">
      <md-card-content>
          <h2>{{cu+1}}. {{curso.title}} - Oja.la</h2>
           <!--  <p>Descripción: {{curso.title}}<br> -->
           Categoría: {{curso.category}}<br/>
            Level: {{curso.level }}<br>
            Lecciones: {{curso.lessons}}<br>
            Duración total: {{curso.duration}}</p>

            <button class="btn btn-info" ng-click="seleccionarCurso(curso)">Mostrar/ocultar videos</button>
      </md-card-content>

      <table class="table table-striped table-hover" ng-repeat="(i, clase) in curso.chapters" ng-show="cursoSeleccionado==curso" >
            <tr>
              <th colspan="2">{{clase.title}}</th>
            </tr>
            <tr>
              
               <td colspan="2">
                <table class="table table-striped table-hover">
                  <tr ng-repeat="(j, capitulo) in clase.lessons" title="Duración: {{capitulo.duration}}">
                    <td>{{i+1}}.{{capitulo.order}} - {{capitulo.title}}.mp4</td><td><a target="_blank"href="{{capitulo.videos[0].url}}" class="btn btn-primary">Ver</a></td>
                  </tr>
                </table>
              </td>
            </tr>
      </table>

  </md-card>
</div>
</div>
</div>