
<!DOCTYPE html>
<html >
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Devcode Videos</title>
    
    <link rel='stylesheet prefetch' href='https://gitcdn.xyz/repo/angular/bower-material/v0.10.1-rc4/angular-material.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    <div ng-app="MyApp" class="gridListdemoBasicUsage" ng-controller="AppCtrl as appCtrl">

  <h1>Cursos de Devcode</h1> 
<div style="padding:20px 0px 60px 0px">
      <span class="col-md-1" style="font-weight:bold">Search</span>
      <span class="col-md-3">
      <input type="text" class="form-control" ng-model="searchKeyword"/>
      </span>
    </div>

  <div class='md-padding' layout="row" layout-wrap>
        <md-card style="width: 300px;" ng-repeat="curso in cursos | filter: searchKeyword">
          <img src="https://s3-us-west-2.amazonaws.com/devcode/img/logo.png" width="150" class="md-card-image" alt="user avatar">
          <md-card-content>
            <h2>{{curso.nombre}}</h2>
            <p>Descripción: {{curso.descripcion}}<br>
            Level: {{curso.dificultad }}<br>
            Slogan: {{curso.slogan}}<br>
            
          </md-card-content>

          <table class="table table-striped table-hover" ng-repeat="(i, clase) in curso.clases" >
            <tr>
              <th colspan="2">{{clase.nombre}} - {{clase.descripcion}}</th>
            </tr>
            <tr>
              
               <td colspan="2">
                <table class="table table-striped table-hover">
                  <tr ng-repeat="(j, capitulo) in clase.capitulos">
                    <th>{{i+1}}.{{capitulo.orden}} - {{capitulo.nombre}}.mp4</th><td><a target="_blank"href="{{capitulo.url}}" class="btn btn-primary">Ver</a></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

<!--           <div class="md-actions" layout="row" layout-align="end center">            
              <div class="dropdown">
                <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary">
                  Ver videos <span class="caret"></span>
              </a>

              <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu" >


              <li class="dropdown-submenu" ng-repeat="clase in curso.clases">
                <a tabindex="-1" href="#">{{clase.nombre}} - {{clase.descripcion}}</a>
                <ul class="dropdown-menu">
                <li  ng-repeat="capitulo in clase.capitulos"><a tabindex="-1" href="{{capitulo.url}}">{{capitulo.orden}} - {{capitulo.nombre}}</a></li>
                 </ul>
              </li>
            </ul>
          </div>
       </div> -->

        </md-card>
    </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-messages.min.js'></script>
<script src='https://gitcdn.xyz/repo/angular/bower-material/v0.10.1-rc4/angular-material.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>

        <script src="js/index.js"></script>
<script src="js/ui-bootstrap-tpls-2.0.0.min.js"></script>
<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>

    
    
  </body>
</html>
